<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>Someone just commented on the item you posted on Grinnell College Marketplace</p>
    <%= link_to "See the comment", @url %>
    <p>------------------</p>
    <p>Gmarket -- Grinnell College Marketplace</p>
  </body>
</html>