<div id="left-sidebar">

<div id="left-navigation">
<ul id="menu"> 
   <li><a href="#">Bathroom</a>
   	<ul id="secondary-ul"> 
				<li id="secondary-ul-link"><a href="http://www.google.com/">Appliances/Others</a></li> 
				<li id="secondary-ul-link"><a href="http://www.ask.com/">Medical</a></li> 
				<li id="secondary-ul-link"><a href="http://www.live.com/?searchonly=true">Toiletries</a></li> 			
	</ul> 
   </li>
   <li><a href="/categories/5">Marketplace</a></li>


</div>
</div>