<div id="left-sidebar">

<div id="left-navigation">
<ul id="menu"> 
   <li><a href="#">Kitchen</a>
   	<ul id="secondary-ul"> 
				<li id="secondary-ul-link"><a href="http://www.google.com/">Food</a></li> 
				<li id="secondary-ul-link"><a href="http://www.ask.com/">Supplies</a></li> 				
	</ul> 
   </li>
   <li><a href="/categories/5">Marketplace</a></li>


</div>
</div>