



<div class="containerc">

    <div id="headerc">



        <div id="contact_detailsc">
        	<p>Contact:<a href="#">238357@gmail.com</a></p>
		</div><!--end contact details-->

	</div><!--end header-->
              <div style="clear:both"></div>

<div id="mainc">

		 <div id="contentc">

              <div class="textc">
              <h2 style="margin-bottom:0px;">Gmarket is upgrading(We will be back)</h2>
              </div><!--end text-->

              <div class="counterc">
              <h3>Estimated Time Remaining Before Epic Launch:</h3>
              <div id="defaultCountdownc"></div>

         </div><!--end counter-->

         <div class="detailsc">
              <!--slider prev button-->
            <a class="prevc" href="#"><img src="/images/prev.png" alt="" />
            </a>

                  <div id="sliderwrapc">
                  		<div id="slidertextc"><!-- The slider -->

                                <ul>



                                     <div style="margin-top:30px";></div>
                                     <li>
                                       <h2 style="color:#E5E5E5">What have we achieved so far? </h2>

                                     </li>
                                      <li>
                                       <h2 style="color:#E5E5E5">500 Grinnell College student Items listed</h2>

                                     </li>
                                     <li>
                                       <h2 style="color:#E5E5E5">15000 Student Views</h2>

                                     </li>
                                     <li>
                                       <h2 style="color:#E5E5E5">1200 Unique Visitors</h2>

                                     </li>

                                     <li>
                                       <h2 style="color:#E5E5E5">What's Next?</h2>

                                     </li>

                                	 <li>
                                        <h2 style="color:#E5E5E5">Something beyond your imagination</h2>
                                 	</li><!-- Slider item -->
                                     <li>
                                        <h2 style="color:#E5E5E5">Stay tuned</h2>
                                 	</li><!-- Slider item -->

                                    <li>
                                      <a style="text-decoration:none;color:#E5E5E5;font-size:150%;" href="http://thegmarket.me/items/">Click to visit the existing site</a>
                                 	</li><!-- Slider item -->


                                </ul>

             	 </div><!-- End of slidertext -->

              </div><!-- End of sliderwrap -->

					<!--slider next button-->
             	<a class="nextc" href="#"><img src="/images/next.png" alt=""/></a>


                  </div><!--end details-->





                </div><!--end content-->

</div><!--end main-->

</div><!--end class container-->
